<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
</head>
<body>
  <header>
    <h1>{{ site.title }}</h1>
    <p>https://github.com/dippreneurlab/preneur_checkin</p>
  </header>
  <nav>
    <a href="{{ site.baseurl }}/">Home</a>
    <a href="{{ site.baseurl }}/api_install/">API-based Check-in</a>
    <a href="{{ site.baseurl }}/local_install/">Installer-based Check-in</a>
  </nav>
  <main>
    {{ content }}
  </main>
</body>
</html>
